In [1]:
print('hello world ??')

hello world ??

In [2]:
2**16

65536

In [3]:
complex(1)

(1+0j)

In [4]:
float(2)

2.0

In [10]:
str1="world's"
print(str1)

world's

In [13]:
a=1

In [14]:
type(a)

int

In [15]:
a="hi there"

In [16]:
type(a)

str

In [17]:
b=4.78

In [18]:
type(b)

float

In [20]:
c=False

In [21]:
type(c)

bool

In [22]:
a

'hi there'

In [23]:
a="I'm walking"

In [24]:
a.upper()

"I'M WALKING"

In [25]:
a.lower()

"i'm walking"

In [26]:
a.title()

"I'M Walking"

In [27]:
a[0]

'I'

In [29]:
a[0:4]

"I'm "

In [30]:
len(a)

11

In [32]:
a.count('l')

1

In [33]:
a.count('ki')

1

In [34]:
a

"I'm walking"

In [35]:
a.find('k')

7

In [37]:
a.find('z') #find index of char in string

-1

In [38]:
a[0:3].find('your character')
a[4:9].find('character')

-1

In [43]:
a=[1,2,3,4,5,"hello",True]

In [45]:
type(a[6])

bool

In [41]:
a[4]

5

In [42]:
print(a)

[1, 2, 3, 4, 5]

In [46]:
a[0:3]

[1, 2, 3]

In [47]:
print(a[0:3])

[1, 2, 3]

In [48]:
a[3:]

[4, 5, 'hello', True]

In [49]:
a[:6]

[1, 2, 3, 4, 5, 'hello']

In [139]:
a = a[::-1]
print(a)

['a', 'hello', 'c']

In [51]:
m="abcdf ghi de"

In [52]:
m[::-1]

'ed ihg fdcba'

In [56]:
a[2::-1]

[3, 2, 1]

In [60]:
a.index(True)

0

In [ ]:
a

In [125]:
s="abcd"

In [126]:
e="xywz"

In [127]:
user = 'ba'

In [136]:
def encoder(user):
    concate_str=""
    for item in user:
        user_index=s.find(item)
        if user_index!=-1:
            concate_str=concate_str+e[user_index]
        else:
            print("not found")
        #print("")  
    return concate_str

In [137]:
print(encoder("babb"))

yxyy

In [94]:
user_index=s.find(user)

In [95]:
if user_index!=-1:
    print(e[user_index])
else:
    print("not found")

not found

In [96]:
e[user_index]

'z'

In [97]:
e[-2]

'w'

In [98]:
s="hello"

In [99]:
a=["a","hello","c"]

In [90]:
for item in a:
    print(item)
    print("")

a

hello

c

In [131]:
def my_sum(s1,s2):
    print("first" + s1)
    print("second" + s2)
    print(s1+s2)

In [132]:
my_sum("hello","world")

firsthello
secondworld
helloworld

In [142]:
test = [2,3,True]
test.index(True)

2

In [141]:
test.index(3)

2

In [152]:
d = {'a':1,'b':2,'c':3}

In [153]:
type(d)

dict

In [154]:
d["c"]

3

In [157]:
for item in d:
    print(d[item])

1
2
3

In [158]:
import pandas

In [161]:
df=pandas.DataFrame({'a':[1,2], 'b':[3,4]})

In [163]:
type(df)

pandas.core.frame.DataFrame

In [164]:
len(df)

2

In [165]:
df

   a  b
0  1  3
1  2  4

In [166]:
import pandas as pd

In [169]:
df=pd.read_csv("physician_rx.csv")

In [171]:
print(df)

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0   AP1912920        0.0           50            510        152           0
1   AP1350415     2370.0         1320             60       1416        2676
2   AP0129322        0.0           85              0          0         144
3   AP0462902       30.0          570              0        128        3900
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
6   AP0126982        0.0          135              0          0           0
7         NaN      150.0          315            270        184          36
8   AP1807651        0.0          650              0          0         300
9   AP0728371        0.0            0              0          0           0
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
12  AP1883103        0.0          225            240          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
15  AP2443797        0.0           25              0         72          48
16  AP0036951      330.0          525              0          0           0
17  AP3200230        0.0          135              0          0           0
18  AP0139724        0.0           85            360          0         480
19  AP2166075        0.0           70              0          0          36
20        NaN        0.0           20              0          0          48
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
24  AP2214740        0.0           90              0          0           0
25  AP0857188        0.0          130              0          0         588
26        NaN      150.0          220            510         32        1128
27  AP1874350        0.0            0             75          0           0
28  AP3209293        0.0           55            465          0           0
29  AP0089696      930.0          250           3435          0         396
..        ...        ...          ...            ...        ...         ...
70  AP0683877       50.0           90            240          0           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
73  AP1343639       10.0           45              0         24         528
74  AP1869077     1830.0          140              0        488          72
75  AP2196115        0.0            0              0          0         384
76  AP1230067      110.0           70              0          0           0
77  AP2014650        0.0           60              0          0          60
78  AP2281620        0.0          255              0          0          36
79  AP1336198      150.0          615              0          0           0
80  AP0849708        0.0           90           3495          0           0
81  AP2113896       20.0           30              0          0           0
82  AP1834639      270.0         1240             60         40          60
83  AP0455565        0.0          105            810         24        1896
84  AP0849030        0.0           80            525          0          24
85  AP0478796      630.0          240            150          0          96
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
88  AP0812453        NaN           45              0          0         264
89  AP0433841      120.0           65              0          0           0
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

[100 rows x 6 columns]

In [184]:
#for item in df:
  #  print(df[item])

In [174]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [175]:
df.tail()

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

In [179]:
df.shape

(100, 6)

In [180]:
df.columns

Index(['PHYSICIAN', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [181]:
df

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0   AP1912920        0.0           50            510        152           0
1   AP1350415     2370.0         1320             60       1416        2676
2   AP0129322        0.0           85              0          0         144
3   AP0462902       30.0          570              0        128        3900
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
6   AP0126982        0.0          135              0          0           0
7         NaN      150.0          315            270        184          36
8   AP1807651        0.0          650              0          0         300
9   AP0728371        0.0            0              0          0           0
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
12  AP1883103        0.0          225            240          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
15  AP2443797        0.0           25              0         72          48
16  AP0036951      330.0          525              0          0           0
17  AP3200230        0.0          135              0          0           0
18  AP0139724        0.0           85            360          0         480
19  AP2166075        0.0           70              0          0          36
20        NaN        0.0           20              0          0          48
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
24  AP2214740        0.0           90              0          0           0
25  AP0857188        0.0          130              0          0         588
26        NaN      150.0          220            510         32        1128
27  AP1874350        0.0            0             75          0           0
28  AP3209293        0.0           55            465          0           0
29  AP0089696      930.0          250           3435          0         396
..        ...        ...          ...            ...        ...         ...
70  AP0683877       50.0           90            240          0           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
73  AP1343639       10.0           45              0         24         528
74  AP1869077     1830.0          140              0        488          72
75  AP2196115        0.0            0              0          0         384
76  AP1230067      110.0           70              0          0           0
77  AP2014650        0.0           60              0          0          60
78  AP2281620        0.0          255              0          0          36
79  AP1336198      150.0          615              0          0           0
80  AP0849708        0.0           90           3495          0           0
81  AP2113896       20.0           30              0          0           0
82  AP1834639      270.0         1240             60         40          60
83  AP0455565        0.0          105            810         24        1896
84  AP0849030        0.0           80            525          0          24
85  AP0478796      630.0          240            150          0          96
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
88  AP0812453        NaN           45              0          0         264
89  AP0433841      120.0           65              0          0           0
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

[100 rows x 6 columns]

In [183]:
df.dtypes #object is string

PHYSICIAN         object
CroMax_RX        float64
GlycoMax_RX        int64
AllergyMax_RX      int64
FevMax_RX          int64
ColdMax_RX         int64
dtype: object

In [196]:
df[["PHYSICIAN","AllergyMax_RX","CroMax_RX"]][0:4] #works on index[0:4]

   PHYSICIAN  AllergyMax_RX  CroMax_RX
0  AP1912920            510        0.0
1  AP1350415             60     2370.0
2  AP0129322              0        0.0
3  AP0462902              0       30.0

In [197]:
df["PHYSICIAN"]

0     AP1912920
1     AP1350415
2     AP0129322
3     AP0462902
4     AP3185026
5     AP3674571
6     AP0126982
7           NaN
8     AP1807651
9     AP0728371
10    AP1934892
11    AP1595288
12    AP1883103
13    AP1365782
14          NaN
15    AP2443797
16    AP0036951
17    AP3200230
18    AP0139724
19    AP2166075
20          NaN
21    AP1332969
22    AP2130355
23    AP0714887
24    AP2214740
25    AP0857188
26          NaN
27    AP1874350
28    AP3209293
29    AP0089696
        ...
70    AP0683877
71    AP0118925
72    AP2152296
73    AP1343639
74    AP1869077
75    AP2196115
76    AP1230067
77    AP2014650
78    AP2281620
79    AP1336198
80    AP0849708
81    AP2113896
82    AP1834639
83    AP0455565
84    AP0849030
85    AP0478796
86    AP3589376
87    AP2459335
88    AP0812453
89    AP0433841
90    AP1947403
91    AP0189854
92    AP3883979
93    AP0390218
94    AP2286280
95    AP1957774
96    AP1273998
97    AP1228990
98    AP1881803
99    AP4772804
Name: PHYSICIAN, Length: 100, dtype: object

In [198]:
df.loc[0:4,["PHYSICIAN","AllergyMax_RX"]] #works on label[0:4]

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0
4  AP3185026           1080

In [199]:
df.iloc[0:4,0:3]   #works on index[0:4]

   PHYSICIAN  CroMax_RX  GlycoMax_RX
0  AP1912920        0.0           50
1  AP1350415     2370.0         1320
2  AP0129322        0.0           85
3  AP0462902       30.0          570

In [208]:
df[df["CroMax_RX"] > 50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
5   AP3674571       70.0           40              0         64           0
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0

In [209]:
 my_df=df[df["CroMax_RX"] > 50]

In [207]:
my_df[my_df["GlycoMax_RX"]>50]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [210]:
(df["CroMax_RX"]>50) & (df["GlycoMax_RX"]>50)

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10     True
11    False
12    False
13    False
14     True
15    False
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24    False
25    False
26     True
27    False
28    False
29     True
      ...
70    False
71     True
72    False
73    False
74     True
75    False
76     True
77    False
78    False
79     True
80    False
81    False
82     True
83    False
84    False
85     True
86    False
87     True
88    False
89     True
90    False
91    False
92    False
93    False
94    False
95    False
96     True
97    False
98    False
99    False
Length: 100, dtype: bool

In [213]:
df[(df["CroMax_RX"]>50) & (df["GlycoMax_RX"]>50)] #for or condition -   |

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [215]:
df[(df["CroMax_RX"]>50) & (df["GlycoMax_RX"]>50)][["PHYSICIAN","GlycoMax_RX"]]

    PHYSICIAN  GlycoMax_RX
1   AP1350415         1320
7         NaN          315
10  AP1934892          390
14        NaN          150
16  AP0036951          525
21  AP1332969          870
22  AP2130355          145
23  AP0714887          780
26        NaN          220
29  AP0089696          250
31  AP0692473          215
40  AP0438309           85
42  AP1326350          250
53  AP1976314          495
55  AP3632706          380
56  AP1871832          345
57  AP0092627         1090
59  AP1815618          110
64  AP0093884           65
67  AP0476079           70
68  AP1822470          330
71  AP0118925          375
74  AP1869077          140
76  AP1230067           70
79  AP1336198          615
82  AP1834639         1240
85  AP0478796          240
87  AP2459335          320
89  AP0433841           65
96  AP1273998          630

In [216]:
df.iloc[0:1,0]  #DESIGN TO RETURN MULTIPLE SHELL

0    AP1912920
Name: PHYSICIAN, dtype: object

In [220]:
df.iat[0,0] #design to return single shell AND FASTER THAN LOC AND ILOC

'AP1912920'

In [219]:
df.at[0,"PHYSICIAN"]

'AP1912920'

In [222]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        4
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [223]:
df["CroMax_RX"].isnull().sum()

4

In [233]:
df[df["CroMax_RX"].isnull()]["PHYSICIAN"]

Series([], Name: PHYSICIAN, dtype: object)

In [226]:
df["CroMax_RX"] = df["CroMax_RX"].fillna(0)

In [227]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [228]:
df=df.dropna()

In [229]:
df.isnull().sum()

PHYSICIAN        0
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [236]:
df.columns

Index(['PHY', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX',
       'ColdMax_RX'],
      dtype='object')

In [238]:
df=df.rename(columns={'PHY': 'physician'})

In [239]:
df.head()

   physician  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [240]:
"hello world".replace("l","z")

'hezzo worzd'

In [242]:
df.columns=df.columns.str.replace("_",".")

In [243]:
df.head()

   physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [244]:
df["physician"]=df["physician"].str.replace("AP","AB")

In [245]:
df.head()

   physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AB1912920        0.0           50            510        152           0
1  AB1350415     2370.0         1320             60       1416        2676
2  AB0129322        0.0           85              0          0         144
3  AB0462902       30.0          570              0        128        3900
4  AB3185026        0.0           40           1080          0           0

In [280]:
df["bucket"]="B1"

In [283]:
df = df.iloc[:, 1:]

In [284]:
df.head()

,new_physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,B1_AB1912920,0.0,50,510,152,0,B1
1,B1_AB1350415,2370.0,1320,60,1416,2676,B1
2,B1_AB0129322,0.0,85,0,0,144,B1
3,B1_AB0462902,30.0,570,0,128,3900,B1
4,B1_AB3185026,0.0,40,1080,0,0,B1

In [292]:
df["new_physician"].str.split("_")
df["physiciann"]=df["new_physician"].str.split("_").str[1]
df["new buckett"]=df["new_physician"].str.split("_").str[0]

In [293]:
df.head()

,new_physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,physician,new bucket,physiciann,new buckett
0,B1_AB1912920,0.0,50,510,152,0,B1,AB1912920,B1,AB1912920,B1
1,B1_AB1350415,2370.0,1320,60,1416,2676,B1,AB1350415,B1,AB1350415,B1
2,B1_AB0129322,0.0,85,0,0,144,B1,AB0129322,B1,AB0129322,B1
3,B1_AB0462902,30.0,570,0,128,3900,B1,AB0462902,B1,AB0462902,B1
4,B1_AB3185026,0.0,40,1080,0,0,B1,AB3185026,B1,AB3185026,B1

In [294]:
df.columns

Index(['new_physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX',
       'FevMax.RX', 'ColdMax.RX', 'bucket', 'physician', 'new bucket',
       'physiciann', 'new buckett'],
      dtype='object')

In [296]:
df = df[['new_physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX','FevMax.RX', 'ColdMax.RX','physiciann', 'new buckett']]

In [1]:
df.head()

NameError: name 'df' is not defined

In [2]:
import pandas as pd
df=pd.DataFrame({'a':[1,2,1,2,4],'b':[4,5,4,5,6]})

In [3]:
df.duplicated(keep=False) #df.duplicated(keep="first")

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [4]:
df.duplicated(keep="first")

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [5]:
df[~df.duplicated()]

   a  b
0  1  4
1  2  5
4  4  6